<br>
<br>
<div class="contenedor">
  <div class="row text-center">
    <div class="col">
      <h1 class="colorRed">¡Bienvenido a Kohmi!</h1>
    </div>
  </div>
  <br>
  <div class="row centar-texto">
    <div class="col-6">
      <p>Somos una empresa tecnológica con enfoque centrado en el cliente.
        Integramos HW y SW, además de diferentes servicios  TIC's.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img width="100%" src="http://img1.wsimg.com/isteam/stock/6yOme1a/:/rs=w:1120,h:200,cg:true,m/cr=w:1120,h:200,a:cc/fx-gs" alt="">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4">
      <hr>
    </div>
    <div class="col-4 text-center">
      NUESTRA MANERA DE HACER LAS COSAS
    </div>
    <div class="col-4">
      <hr>
    </div>
  </div>
  <br>
  <div class="row text-center direccion">
    <div class="col-4">
      <img width="250px" src="https://img1.wsimg.com/isteam/stock/5zle9E0/:/rs=w:365,h:365,cg:true,m/cr=w:365,h:365" class="rounded-circle" alt="">
      <br>
      <br>
      <h3 class="colorRed">Filosofía</h3>
      <br>
      <p>Kohmi significa familia. Queremos llegar a ser así de cercanos con tu negocio, aportando ideas, soluciones y generando valor.</p>
    </div>
    <div class="col-4">
      <img width="250px" src="https://img1.wsimg.com/isteam/stock/6y9BN71/:/cr=t:0%25,l:19.57%25,w:66.67%25,h:100%25/rs=w:365,h:365,cg:true" class="rounded-circle" alt="">
      <br>
      <br>
      <h3 class="colorRed">Enfoque</h3>
      <br>
      <p>Ofrecemos un trato cercano, diligente y honesto, para que cuentes con la información que tu necesitas, en el momento preciso.</p>
    </div>
    <div class="col-4">
      <img width="250px" src="https://img1.wsimg.com/isteam/stock/qqn9Bw/:/rs=w:365,h:365,cg:true,m/cr=w:365,h:365" class="rounded-circle" alt="">
      <br>
      <br>
      <h3 class="colorRed">Meta</h3>
      <br>
      <p>El mercado actual de TIC's demanda reestructurar las prácticas de entrega para generar mayor valor de negocio.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-5">
      <hr>
    </div>
    <div class="col-2 text-center">
      LO QUE HACEMOS
    </div>
    <div class="col-5">
      <hr>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col imgs img-1">
      <div class="contenido">
        <h2>Equipamiento</h2>
        <p>Diseñamos soluciones de infraestructura de hardware y comunicaciones.</p>
      </div>
    </div>
    <div class="col imgs img-2">
      <div class="contenido">
        <h2>Desarrollo de Software</h2>
        <p>Desarrollamos soluciones
          a la medida utilizando Java,
          .Net, PHP, Android, IOS.</p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col imgs img-3">
      <div class="contenido">
        <h2>Soporte Operativo</h2>
        <p>Brindamos diferentes opciones

          de soporte operativo a infraestructura

          de hardware y software.</p>

      </div>
    </div>
    <div class="col imgs img-4">
      <div class="contenido">
        <h2>Reclutamiento y staffing TI</h2>
        <p>Atraemos el talento IT que tu empresa

          necesita en el modelo de

         staffing o reclutamiento puro.</p>

      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-5">
      <hr>
    </div>
    <div class="col-2 text-center">
      ALIANZAS
    </div>
    <div class="col-5">
      <hr>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col">
      <h2 class="colorRed">Nuestros socios</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <img src="https://img1.wsimg.com/isteam/ip/7d8cb06e-77ee-4350-a2ba-435fc8551b3f/HP_Blue_RGB_72_MX.gif/:/rs=h:100" alt="">
    </div>
    <div class="col">
      <img src="https://img1.wsimg.com/isteam/ip/7d8cb06e-77ee-4350-a2ba-435fc8551b3f/Logo-Red_Hat-Business_Partner-A-Standard-RGB.png/:/rs=h:100" alt="">
    </div>
    <div class="col">
      <img src="https://img1.wsimg.com/isteam/ip/7d8cb06e-77ee-4350-a2ba-435fc8551b3f/APN-Logo_Web_Color.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=h:100" alt="">
    </div>
    <div class="col">
      <img width="300px" src="https://img1.wsimg.com/isteam/ip/7d8cb06e-77ee-4350-a2ba-435fc8551b3f/Ingram_micro_logo.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=h:100" alt="">
    </div>
  </div>
  <br>
  <br>
</div>

<app-footer></app-footer>
