<div class="contenedor">

  <div class="row">
    <div class="col">
      <hr>
    </div>
    <div class="col">QUIÉNES SOMOS</div>
    <div class="col">
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8">
      <h1 class="colorRed">Acerca de Kohmi</h1>
      <br>
      <p>En otomí Kohmi significa "familia". Esto expresa lo que buscamos lograr en nuestro equipo:  pertenencia, seguridad, estabilidad y trascendencia personal y profesional.</p>
      <br>
      <p>Queremos que nuestros clientes sientan ese calor, y la confianza de llegar a un lugar donde sabes que eres importante y te sientes cobijado. </p>
    </div>
    <div class="col-4">
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/kagVaey/:/cr=t:27.32%25,l:47.09%25,w:52.91%25,h:52.91%25/rs=w:400,cg:true,m" alt="">
    </div>
  </div>

  <br><br><br>

  <div class="row">
    <div class="col">
      <hr>
    </div>
    <div class="col">INFORMACIÓN ADICIONAL</div>
    <div class="col">
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8">
      <h1 class="colorRed">Nuestro compromiso</h1>
      <br>
      <p>Nuestra meta en Kohmi es colaborar en la generación de valor dentro de nuestros clientes. Sabemos que cada proyecto es diferente, por lo que tomamos todas las previsiones para afrontar cada reto con responsabilidad y calidad. </p>
      <br>
      <p>Esto nos permite establecer el compromiso de proporcionarles un servicio que cubra con su expectativa, con la oportunidad y atención personalizada que tu negocio requiere.</p>
    </div>
    <div class="col-4">
      <h1 class="colorRed">Equipo</h1>
      <br>
      <p>Estamos integrados por un amplio equipo de profesionales que responde a las necesidades de quienes depositan su confianza en nosotros.</p>
      <br>
      <button type="button" class="btn btn-danger btn-lg">Obtén más información</button>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>



<app-footer></app-footer>
