<br>
<div class="contenedor text-center">

  <div class="row">
    <div class="col">
      <hr>
    </div>
    <div class="col">NUESTRA OFERTA</div>
    <div class="col">
      <hr>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col">
      <h1 class="colorRed">Equipamiento</h1>
      <br>
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/6yOme1a/:/cr=t:7.63%25,l:2.35%25,w:95.29%25,h:84.75%25/rs=w:388,h:194,cg:true,m" alt="">
      <br>
      <br>
      <p style="font-weight: bold;">Realizamos el diseño y despliegue de arquitecturas de hardware y comunicaciones.</p>
      <br>
      <p>Incorporamos los servicios financieros de los fabricantes para apalancar los proyectos de renovación de equipo en tu empresa.</p>
    </div>
    <div class="col">
      <h1 class="colorRed">Soporte Operativo</h1>
      <br>
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/k8bZdQ2/:/cr=t:5.53%25,l:0%25,w:100%25,h:88.93%25/rs=w:388,h:194,cg:true/fx-gs" alt="">
      <br>
      <br>
      <p style="font-weight: bold;"> Ejecutamos la administración, soporte y mantenimiento de infraestructura. </p>
      <br>
      <p>Realizamos soporte a BD, servidores de aplicaciones, monitoreo de rendimiento, tuneo y otras actividades para garantizar la disponibilidad.</p>
    </div>
    <div class="col">
      <h1 class="colorRed">Desarrollo de Software</h1>
      <br>
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/10795/:/rs=w:388,h:194,cg:true,m/cr=w:388,h:194" alt="">
      <br>
      <br>
      <p style="font-weight: bold;">  Contamos con equipos de desarrollo en diferentes plataformas.</p>
      <br>
      <p>Los desarrollos pueden ser ejecutados en las instalaciones del cliente o en nuestras instalaciones (Java, .Net, PHP, IOS, Android).</p>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col">
      <h1 class="colorRed">Reclutamiento IT</h1>
      <br>
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/295/:/rs=w:388,h:194,cg:true,m/cr=w:388,h:194" alt="">
      <br>
      <br>
      <p style="font-weight: bold;">Nos encargamos de acercar a tu negocio a esas personas que comparten tu ADN.</p>
      <br>
      <p>Realizamos los perfiles, publicamos las vacantes en las principales fuentes nacionales y coordinamos el proceso de entrevistas internas y con cliente.</p>
    </div>
    <div class="col">
      <h1 class="colorRed">Staffing</h1>
      <br>
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/3174/:/rs=w:388,h:194,cg:true,m/cr=w:388,h:194" alt="">
      <br>
      <br>
      <p style="font-weight: bold;">Asignamos a nuestro personal técnico en un esquema de tiempo y materiales.</p>
      <br>
      <p>  El cliente realiza el filtrado de candidatos propuestos y selecciona al perfil idóneo para sumar a sus proyectos.</p>
    </div>
    <div class="col">
      <h1 class="colorRed">Consultoría</h1>
      <br>
      <img width="100%" src="https://img1.wsimg.com/isteam/stock/3245/:/rs=w:388,h:194,cg:true,m/cr=w:388,h:194" alt="">
      <br>
      <br>
      <p style="font-weight: bold;">Ejecutamos proyectos especilizados de consultoría para la implantación de soluciones informáticas.</p>
      <br>
      <p>Nuestras áreas de especialización son: SOA, BPM, BI, ETL, BD y ECM, Servicios en la Nube pública y virtualización.  </p>
    </div>
  </div>
<br><br>
</div>

<app-footer></app-footer>
