@import '../../../../variables';

.nav-1 {
  background-color: $colorRed;
  margin: 0px;
  padding: 0px;
  height: 35px;
  display: flex;
  justify-content: center;
  color: white;
}

.alto-init {
  height: 150px;
}

.alto-medium {
  height: 130px;
}

.alto-final {
  height: 100px;
}

.width-50 {
  width: 50%;
}

.width-30 {
  width: 30%;
}
