/* You can add global styles to this file, and also import other style files */

@import './variables';

.colorRed {
  color: $colorRed;
}

.cursor{
  cursor: pointer;
}

.contenedor {
  margin-left: 5%;
  margin-right: 5%;
}
